/* ===================== GENERALE ====================== */

.root {
    -fx-font-family: "Inter", "Segoe UI", sans-serif;
}


/* ===================== TABLEVIEW ===================== */

.table-view {
    -fx-background-radius: 10;
}

.table-view .column-header-background,
.table-view .nested-column-header,
.table-view .column-header,
.table-view .filler {
    -fx-background-color: linear-gradient(to bottom, #0353A4, #0466C8);
}

.table-view .column-header-background {
    -fx-background-radius: 10 10 0 0;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.table-row-cell {
    -fx-padding: 6 4;
    -fx-cell-size: 32px;
}

.table-cell {
    -fx-border-color: white transparent white transparent;
    -fx-border-width: 0 1 0 0;
}


/* ==================== CHART CONTAINERS ===================== */

.chart-container {
    -fx-background-color: #d0e6fb; /* più chiaro */
    -fx-background-radius: 12;
    -fx-padding: 15;
}


/* ====================== STATISTIC BOXES ====================== */

.stat-box {
    -fx-background-color: #f2f5ff;
    -fx-background-radius: 12;
    -fx-padding: 12;
    -fx-alignment: center;
}

.stat-title {
    -fx-font-size: 12px;
    -fx-text-fill: #333;
    -fx-padding: 4 0 0 0;
}

.stat-value {
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-text-fill: #0353A4;
}


/* ======================== LINE CHART ======================== */

.default-color0.chart-series-line {
    -fx-stroke: #ef233c;
    -fx-stroke-width: 2px;
}

.default-color1.chart-series-line {
    -fx-stroke: #0466C8;
    -fx-stroke-width: 2px;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-horizontal-grid-lines,
.chart-vertical-grid-lines {
    -fx-stroke: rgba(0,0,0,0.1);
}


/* ======================== PIE CHART ========================= */

.chart-pie.data0 {
    -fx-pie-color: #ff9f1c;
}

.chart-pie.data1 {
    -fx-pie-color: #e0e0e0;
}
