/* ==========================================================
   ========================== BUTTON =========================
   ========================================================== */

.confirm-button {
    -fx-background-color: #ef233c;
    -fx-text-fill: white;
    -fx-padding: 10 22;
    -fx-background-radius: 10;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.confirm-button:hover {
    -fx-background-color: #c1121f;
}

.confirm-button:pressed {
    -fx-background-color: #780000;
}